{% extends 'base.html' %}

{% block title %}Home - Your Website{% endblock %}

{% block content %}
<main>
    <div class="main-container">
        <p>Welcome to Operation CypherNet, </p>
            
        <P>Your portal to the captivating realm of cryptography and intelligence. Designed to engage students in a STEM environment, CypherNet introduces you to a world where codes hold the keys to unlocking secrets and solving puzzles.</p>

        <p>Discover a variety of ciphers, from ancient techniques to advanced algorithms used in cybersecurity today. Delve into interactive challenges and tutorials that will sharpen your problem-solving skills and ignite your interest in a career in cyber or the intelligence community.</p>
                
        <p>At Operation CypherNet, </p>
            
        <p>You'll explore how codes have shaped history and continue to safeguard information in the digital age. Whether you're curious about encryption methods or aiming to pursue a path in cybersecurity, CypherNet equips you with the tools and knowledge to embark on this thrilling journey.</p>
                
        <p>Are you ready to decode the future? Join us at Operation CypherNet and explore the limitless possibilities of cryptography and intelligence.</p>
    </div>
</main>
{% endblock %}
